.nav-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background: var(--primary);
  padding: 10px 0 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}

.nav:hover {
  background: var(--secondary);
  border-radius: 5px;
}
